* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://c1.wallpaperflare.com/path/565/385/156/sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container {
  width: 1320px;
  padding: 0px 16px;
  height: 100vh;
  margin: auto;
}
.boards {
  display: flex;
  padding: 120px 0px;
  gap: 16px;
}
.board {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: lightgray;
  height: fit-content;
  padding: 8px;
  border-radius: 8px;
}
.flex {
  display: flex;
}

.b-header {
}
.add-card {
}
.cards {
  width: 200px;
  border: 1px solid gray;
}
.card {
  justify-content: space-between;
  background: white;
  border-radius: 8px;
}

/* .show {
  display: flex;
} */
