body {
  margin: 0;
  background-image: url("https://c1.wallpaperflare.com/path/565/385/156/sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 70%;
}
.boards {
  padding: 120px 0px;
  gap: 16px;
  justify-content: space-between;
}
.board {
  background-color: lightgray;
  border-radius: 8px;
  gap: 8px;
  padding: 8px;
  width: 300px;
}
.flex {
  display: flex;
}
.cards {
  background: white;
  border-radius: 8px;
  gap: 8px;
  justify-content: space-around;
  padding: 8px;
}
.done {
    border: 1px solid gray;
    border-radius: 50px;
}
.add {
    align-items: center;
    gap: 8px;
}
.modalContainer {
    height: 100vh;
    width: 100vw;
    background-color: ;
    position: absolute;
    top: 0;
    left: 0;
}